.black-section {
    background-color: #212529;
    height: 104px;
}

.articles-container {
    padding: 20px 0;
    margin: 0 1rem;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    .articles-content {
        max-width: 70%;

        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-width: 50%;
            }
        }
    }

    .articles-list {
        min-width: 30%;
        width: 100%;
        overflow: hidden;
        margin-right: 1rem;
    }
}

.input-group-append {
    cursor: pointer;
}

@media(max-width:992px) {
    .articles-container {
        flex-flow: wrap-reverse;
        margin: 0;

        .articles-content {
            max-width: 100%;
        }

        .articles-content,
        .articles-list {
            margin: 1rem 0;
        }
    }
}