.loading-component {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 214, 138, 0.5);
    z-index: 1000!important;
}